<script lang="ts">
import {
  LwHeading,
  useLocale,
  LwCard,
  LwTextField,
  LwLoadingArea,
  LwSkeletonLoader,
  LwPagination,
  LwList
} from '@locaweb/design-system-vue'
import useTaskAPI from './functions/taskAPI'
import { computed, defineComponent, ref } from 'vue'
import EmptyState from './components/EmptyState.vue'
import FormModal from './components/FormModal.vue'
import Task from '@/core/task/domain/Task'
import DeleteModal from './components/DeleteModal.vue'
import TaskComponent from './components/TaskComponent.vue'

export default defineComponent({
  name: 'TaskList',
  components: {
    LwHeading,
    LwCard,
    LwTextField,
    LwLoadingArea,
    LwSkeletonLoader,
    EmptyState,
    LwPagination,
    LwList,
    TaskComponent
  },
  setup() {
    const t$ = useLocale('task.list')

    const {
      loading,
      taskList,
      listParams,
      handleFilter,
      handlePagination,
      error,
      handleSave,
      handleDelete,
      serverErrors
    } = useTaskAPI()

    const headerProps = computed(() => ({
      title: t$.title,
      actionProps: {
        label: t$.actionTitle
      },
      actionEvents: {
        click: handleAction
      }
    }))

    const displayEmptyState = computed(
      () => (!loading.value && taskList.value.isEmpty()) || error.value
    )

    const modalProps = ref({
      display: false,
      action: null,
      type: 'div',
      bindedProps: {
        task: null
      }
    })

    function handleAction(params: { type: string; task: Task }) {
      Object.assign(modalProps.value, {
        display: true,
        action: params.type,
        type: params.type === 'delete' ? DeleteModal : FormModal,
        bindedProps: {
          task: params.task ?? new Task()
        }
      })
    }

    function closeModal() {
      Object.assign(modalProps.value, {
        display: false,
        bindedProps: {
          task: null
        }
      })
    }

    function handleSubmit(task: Task) {
      modalProps.value.action === 'delete'
        ? handleDelete(task, closeModal)
        : handleSave(task, closeModal)
    }

    return {
      t$,
      listParams,
      loading,
      taskList,
      handleFilter,
      displayEmptyState,
      headerProps,
      handlePagination,
      modalProps,
      handleAction,
      closeModal,
      handleSubmit,
      error,
      serverErrors
    }
  }
})
</script>
<template>
  <div>
    <LwHeading v-bind="headerProps" />
    <LwLoadingArea :displayContent="!loading">
      <template #loading>
        <LwSkeletonLoader type="list-item" />
        <LwSkeletonLoader
          v-for="n in 5"
          :key="n"
          type="list-item-one-line, divider,list-item-two-line"
        />
        <LwSkeletonLoader type="actions" />
      </template>
      <LwCard>
        <template>
          <LwTextField
            data-test="task-filter"
            v-if="!error"
            appendIcon="$objects-magnify-outline"
            :placeholder="t$?.filter.searchField"
            :debounce="600"
            :value="listParams.filter"
            @input="handleFilter"
          />
        </template>
        <EmptyState
          v-if="displayEmptyState"
          :filter="listParams.filter"
          :error="error"
          data-test="empty-state"
        />
        <LwList v-else :items="taskList">
          <template v-slot="{ item }">
            <TaskComponent :task="item" @select="handleAction" data-test="task-item" />
          </template>
        </LwList>
      </LwCard>
      <LwPagination
        data-test="task-pagination"
        v-if="!displayEmptyState"
        class="mt-4"
        @input="handlePagination"
        :length="listParams.pagination.totalPages"
        :page="listParams.pagination.page"
        :totalVisible="5"
      />
    </LwLoadingArea>
    <component
      :is="modalProps.type"
      data-test="task-modal"
      v-if="modalProps.display"
      v-bind="modalProps.bindedProps"
      @cancel="closeModal"
      @submit="handleSubmit"
      :serverErrors="serverErrors"
    />
  </div>
</template>
