<script lang="ts" setup>
import Task from '@/core/task/domain/Task'
import {
  LwHTMLRender,
  LwLocale,
  LwModal,
  useLocale,
  LwTextField,
  LwButton
} from '@locaweb/design-system-vue'
import { computed, ref, Ref } from 'vue'
import DeleteUseCase from '@/core/task/usecases/DeleteUseCase'

defineOptions({
  name: 'DeleteModal'
})

const props = defineProps({
  task: {
    type: Task,
    required: true
  }
})
const emit = defineEmits(['submit', 'cancel'])

const t$: LwLocale = useLocale('task.list.delete')

const confirmTitle: Ref<string> = ref('')
const disableDelete: Ref<boolean> = computed(() => {
  return !confirmTitle.value || !DeleteUseCase.validateDelete(confirmTitle.value, props.task)
})
</script>
<template>
  <LwModal :title="t$.title" size="medium">
    <form
      id="delete-form"
      aria-describedby="#form-description"
      @submit.prevent="emit('submit', task)"
    >
      <LwHTMLRender id="form-description" :text="t$.description" :values="props.task" tag="p" />
      <LwTextField class="mt-2" required v-model="confirmTitle" :label="t$.confirmTitle" />
    </form>
    <template #append>
      <LwButton :label="t$.actions.cancel" text color="primary" ref="teste" />
      <LwButton
        :label="t$.actions.confirm"
        form="delete-form"
        type="submit"
        :disabled="disableDelete"
        color="primary"
      />
    </template>
  </LwModal>
</template>
