<script lang="ts" setup>
import { LwEmptyState, LwPicture, useLocale } from '@locaweb/design-system-vue'
import EmptyList from '@/application/assets/tasks/empty-list.svg'
import EmptyFilter from '@/application/assets/tasks/empty-filter.svg'
import ServerError from '@/application/assets/results/server-error.svg'
import { computed } from 'vue'

defineOptions({
  name: 'TaskEmptyState'
})
const props = defineProps({
  filter: {
    type: String
  },
  error: {
    type: Boolean
  }
})

const t$ = useLocale('task.list.results')

function getType() {
  switch (true) {
    case props.error:
      return 'Error'
    case !!props.filter:
      return 'Filter'
    default:
      return 'List'
  }
}

function getIllustration() {
  switch (true) {
    case props.error:
      return ServerError
    case !!props.filter:
      return EmptyFilter
    default:
      return EmptyList
  }
}

const state = computed(() => ({
  illustration: getIllustration(),
  text: t$[`empty${getType()}`].title.replaceValues(props)
}))
</script>
<template>
  <LwEmptyState :title="state.text">
    <template #illustration>
      <LwPicture :src="state.illustration" />
    </template>
  </LwEmptyState>
</template>
