<script setup lang="ts">
import Task from '@/core/task/domain/Task'
import {
  LwModal,
  LwTextField,
  LwTextAreaField,
  LwRow,
  LwCol,
  LwButton,
  useLocale,
  LwSelectionField
} from '@locaweb/design-system-vue'
import { computed } from 'vue'
import { useTaskValidation } from '../functions/taskValidation'

defineOptions({
  name: 'FormModal'
})

const props = defineProps({
  task: {
    type: Task,
    default: () => new Task()
  },
  serverErrors: {
    type: Object
  }
})

const emit = defineEmits(['submit', 'cancel'])

const { task, v$ } = useTaskValidation(props.task, props.serverErrors)
const t$ = useLocale('task.list.form')

const title = computed(() => t$[`${props.task.id ? 'edit' : 'create'}Title`])
const actionLabel = computed(() => t$.actions[props.task.id ? 'edit' : 'save'])

async function handleSubmit() {
  if (await v$.value.$validate()) {
    emit('submit', task)
  }
}
</script>
<template>
  <LwModal :title="title" size="medium">
    <form id="task-form" @submit.prevent="handleSubmit">
      <LwRow>
        <LwCol cols="12">
          <LwTextField
            :label="t$.fields.title"
            required
            v-model="task.title"
            :errorMessages="v$.title.$errors"
          />
        </LwCol>
        <LwCol cols="12">
          <LwTextAreaField
            maxLength="45"
            :label="t$.fields.description"
            required
            v-model="task.description"
            :errorMessages="v$.description.$errors"
          />
        </LwCol>
        <LwCol cols="12" v-if="task.id">
          <LwSelectionField
            :disabled="props.task.done"
            :text="t$.fields.status"
            type="checkbox"
            v-model="task.done"
          />
        </LwCol>
      </LwRow>
    </form>
    <template #append>
      <LwButton text :label="t$.actions.cancel" color="primary" @click="$emit('cancel')" />
      <LwButton form="task-form" :label="actionLabel" color="primary" type="submit" />
    </template>
  </LwModal>
</template>
