<script setup lang="ts">
import { LwInfoText, LwButton, useLocale } from '@locaweb/design-system-vue'
import Task from '@/core/task/domain/Task'

defineProps({
  task: {
    type: Task,
    required: true
  }
})

const emits = defineEmits(['select'])

const t$: { [key: string]: string } = useLocale('task.list.actions')

function actionTitle(type: string, value: Task): string {
  return t$[type].replaceValues(value)
}

function handleSelection(type: string, task: Task) {
  emits('select', { type, task })
}
</script>
<template>
  <div class="pt-4 d-flex">
    <LwInfoText
      class="flex-grow-1 align-center"
      :label="task.title"
      :text="task.description"
      reverse
    />
    <div class="d-flex align-center" v-once>
      <LwButton
        small
        icon="$objects-pencil-filled"
        :title="actionTitle('edit', task)"
        @click="handleSelection('edit', task)"
      />
      <LwButton
        small
        :disabled="task.done"
        icon="$objects-trash-filled"
        :title="actionTitle('delete', task)"
        @click="handleSelection('delete', task)"
      />
    </div>
  </div>
</template>
