<script lang="ts" setup>
import { LwApp, LwMain } from '@locaweb/design-system-vue'
import HeaderTheme from '../HeaderTheme/HeaderTheme.vue'
import FooterTheme from '../FooterTheme/FooterTheme.vue'
</script>

<template>
  <LwApp>
    <HeaderTheme />
    <LwMain />
    <FooterTheme />
  </LwApp>
</template>
