<script lang="ts" setup>
import { LwRow, LwCol } from '@locaweb/design-system-vue'
import LoadingComponent from './components/LoadingComponent.vue'
import LastTasks from './components/LastTasks.vue'
import { useDashboardAPI } from './functions/dashboardAPI'
import SidebarTheme from '@/application/components/SidebarTheme/SidebarTheme.vue'
import BreadcrumbTheme from '@/application/components/BreadcrumbTheme/BreadcrumbTheme.vue'

const { loading, report } = useDashboardAPI()
</script>
<template>
  <div>
    <LoadingComponent v-if="loading" />
    <template v-else>
      <LwRow>
        <LwCol cols="4" v-if="$breakpoints.smAndUp">
          <SidebarTheme />
        </LwCol>
        <LwCol cols="8">
          <BreadcrumbTheme />
          <LastTasks v-if="report" :report="report" />
        </LwCol>
      </LwRow>
    </template>
  </div>
</template>
