<script setup lang="ts">
import { LwRow, LwCol, LwCard, LwButton, useLocale } from '@locaweb/design-system-vue'
import { Summary } from '@/core/dashboard/domain/Report'
import { PropType } from 'vue'

defineOptions({
  name: 'InfoCards'
})

const { summary } = defineProps({
  summary: {
    type: Object as PropType<Summary>
  }
})

const buttonType: Record<string, string> = {
  completed: 'success',
  pending: 'warning'
}

const $t = useLocale('dashboard.summary')

function displaySeeMore(index: number) {
  return index < 2
}

function buttonColor(summaryItem: string | number): string {
  return buttonType[summaryItem]
}
</script>
<template>
  <LwRow>
    <LwCol cols="12" sm="6" md="4" v-for="(summaryItem, key, index) in $t.title" :key="summaryItem">
      <LwCard :title="summaryItem" outlined>
        <div class="mt-8 d-flex align-end justify-space-between">
          <div data-test="card-content">
            <span class="text-h3" v-text="summary[key]" />
            <span class="d-block mt-2 text-caption" v-text="$t.legend" />
          </div>
          <LwButton
            v-if="displaySeeMore(index)"
            label="Veja mais"
            :color="buttonColor(key)"
            small
            outlined
          ></LwButton>
        </div>
      </LwCard>
    </LwCol>
  </LwRow>
</template>
