<script lang="ts" setup>
import Report from '@/core/dashboard/domain/Report'
import { useLocale, LwCard, LwButton, LwInfoText, LwList } from '@locaweb/design-system-vue'

defineOptions({
  name: 'LastTasks'
})

const props = defineProps({
  report: {
    type: Report,
    required: true
  }
})

const $t = useLocale('dashboard')
const lastTaskDate = $t.lastTasks.date.replaceValues({
  date: new Date().toLocaleDateString()
})
</script>
<template>
  <LwCard :title="$t.lastTasks.title">
    <template #headerActions v-if="$breakpoints.smAndUp">
      <span class="text-caption" v-text="lastTaskDate" />
    </template>
    <LwList :items="props.report.lastTasks">
      <template v-slot="{ item }">
        <LwInfoText
          class="flex-grow-1 align-center pt-4"
          :label="item.title"
          :text="item.description"
          reverse
        />
      </template>
    </LwList>
    <template #actions>
      <LwButton to="/tarefas" outlined :label="$t.lastTasks.action" color="primary" block />
    </template>
  </LwCard>
</template>
