<script lang="ts" setup>
import { LwRow, LwCol, LwSkeletonLoader } from '@locaweb/design-system-vue'
defineOptions({
  name: 'LoadingComponent'
})
</script>
<template>
  <LwRow>
    <LwCol cols="12" sm="4" v-for="i in 3" :key="i">
      <LwSkeletonLoader type="table-heading, actions" data-test="card-load" />
    </LwCol>
    <LwCol cols="12">
      <LwSkeletonLoader
        data-test="list-load"
        type="table-heading,list-item-two-line,divider,list-item-two-line,divider,list-item-two-line,divider,list-item-two-line,divider,list-item-two-line, actions"
      />
    </LwCol>
  </LwRow>
</template>
